#pane {
    -fx-background-image: url(../images/dashboard.jpg);
    -fx-background-size: 100% 100%;
}

#btn-search {
    -fx-background-color: #9cc5f5;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

#btn-search:hover {
    -fx-background-color: #1E96FC;
    -fx-background-radius: 15px;
    -fx-border-color: #ffcfcf;
    -fx-border-width: 0px;
    -fx-border-radius: 15px;
}

#btn-swap {
    -fx-background-color: transparent !important;
}

#btn-swap:hover {
    -fx-opacity: 0.5;
}

.cbx, .date{
    -fx-background-color: #F1F2EB;
    -fx-font-size: 20px;
}

