#route_page {
    -fx-background-image: url(../../images/route_page.jpg);
    -fx-background-size: 100% 100%;
}
#hamburger StackPane {
    -fx-background-color: white;
    -fx-background-radius: 7px;
}