#pane {
    -fx-background-image: url(../../images/setting_admin.jpg);
    -fx-background-size: 100% 100%;
}

.btn {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #57ebde, #aefb2a);
    -fx-background-radius: 9px;
    -fx-border-radius: 7px;
}

.btn:hover {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #e9b7ce, #d3f3f1);
    -fx-background-radius: 9px;
    -fx-border-radius: 7px;
    -fx-border-width: 0px;
}

.cbx{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ebf4f5, #b5c6e0);
    -fx-font-size: 16px;
}

.search {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #4dc9e6, #210cae);
    -fx-background-radius: 9px;
    -fx-border-radius: 7px;
    -fx-font-size: 16px;
}

.search:hover {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #95f9c3, #0b3866);
    -fx-background-radius: 9px;
    -fx-border-radius: 7px;
    -fx-border-width: 0px;
}

.tab {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #45cde9, #7a8fd3);
    -fx-background-radius: 4px;
    -fx-border-radius: 2px;
    -fx-end-margin: 10px;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-text-fill: greenyellow;
}

.tab:hover {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #7a8fd3, #45cde9);
    -fx-background-radius: 4px;
    -fx-border-radius: 2px;

}