
.table-view {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ebf4f5, #b5c6e0);
    -fx-background-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ebf4f5, #b5c6e0);
    -fx-background-radius: 0px;
    -fx-background-insets: 0 0 5px 0;
    -fx-effect: dropshadow(two-pass-box, #224e54, 5, 0.0, 0.1, 2);
}

.table-view .column-header, .table-view .filter {
    -fx-size: 45;
    -fx-border-width: 0 0 10px 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #181821;
    -fx-font-size: 15px;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.table-row-cell:selected {
    -fx-background-color: #60696b;
}

.pane1 {
    -fx-background-color: #2D7DD2;
}

.pane2 {
    -fx-background-color: #FFF8F0;
}